<html> 

<style>
  #box_style {margin-left: 10px;}
  #button {height: 40px; width: 140px; text-align: centre; margin-left: 155px;}
  label {display:inline-block; text-align: right; width: 140px;}
  select {width: 142px; height: 25px}
 </style>
 
<body> 
    <h2 style='font-family:arial'>Fill Employee Details</h2>
    <p style='font-family:arial'>Do Not Leave Any Of Them Empty.</p>
    <br>

<div> 
  <form action="/result" method="POST"> 
    <label style='font-family:arial;text-align: right' for="age">Employee Age</label>
    <input type="text" id="box_style"  size=15 name="age"> 
    <br>    
    <label style='font-family:arial' for="profile">Travel Profile</label> 
    <select id="box_style" name="profile" > 
      <option value="0">No</option> 
      <option value="1">Rarely</option>
      <option value="2">Yes</option>
    </select> 
    <br>
    <label style='font-family:arial' for="education">Department</label> 
    <select id="box_style" name="department"> 
      <option value="0">Analytics</option> 
      <option value="1">Marketing</option> 
      <option value="2">Sales</option>
    </select> 
    <br> 
    <label style='font-family:arial;text-align: right' for="distance">Home to Work</label>
    <input type="text" id="box_style"  size=15 name="distance"> 
    <br>
    <label style='font-family:arial' for="education">Education Filed</label> 
    <select id="box_style" name="education"> 
      <option value="0">Charted Accounts</option> 
      <option value="1">Engineering</option> 
      <option value="2">MBA</option> 
      <option value="3">Marketing Diploma</option> 
      <option value="4">Others</option> 
      <option value="5">Statistics</option>
    </select> 
    <br> 
    <label style='font-family:arial' for="gender">Employee Gender</label> 
    <select id="box_style" name="gender"> 
      <option value="0">Female</option> 
      <option value="1">Male</option>  
    </select> 
    <br> 
    <label style='font-family:arial;text-align: right' for="work_hrs">Working Hours</label>
    <input type="text" id="box_style"  size=15 name="work_hrs"> 
    <br>
    <label style='font-family:arial;text-align: right' for="invlove">Involvement Level</label>
    <input type="text" id="box_style" size=15 name="invlove"> [1-5]
    <br>
    <label style='font-family:arial;text-align: right' for="wl_balance">Work Life Balance</label>
    <input type="text" id="box_style" size=15 name="wl_balance"> [1-5] 
    <br> 
    <label style='font-family:arial' for="designation">Designation</label> 
    <select id="box_style" name="designation"> 
      <option value="0">Asst.Vice President</option> 
      <option value="1">Executive</option> 
      <option value="2">Manager</option> 
      <option value="3">Senior Manager</option> 
      <option value="4">Vice President</option> 
    </select> 
    <br> 
    <label style='font-family:arial;text-align: right' for="job_satisfy">Job Satisfaction</label>
    <input type="text" id="box_style" size=15 name="job_satisfy"> [1-5] 
    <br> 
    <label style='font-family:arial' for="espos">Own ESPOs</label> 
    <select id="box_style" name="espos"> 
      <option value="0">No</option> 
      <option value="1">Yes</option>  
    </select>
    <br>
    <label style='font-family:arial;text-align: right' for="companies">Prev.Companies</label>
    <input type="text" id="box_style"  size=15 name="companies"> 
    <br>
    <label style='font-family:arial' for="overtime">Overtime Pay</label> 
    <select id="box_style" name="overtime"> 
      <option value="0">No</option> 
      <option value="1">Yes</option>  
    </select>
    <br> 
    <label style='font-family:arial;text-align: right' for="hike">Last Year's Hike</label>
    <input type="text" id="box_style"  size=15 name="hike"> 
    <br>
    <label style='font-family:arial;text-align: right' for="exp">Work Experience</label>
    <input type="text" id="box_style"  size=15 name="exp"> 
    <br>
    <label style='font-family:arial;text-align: right' for="promo">Last Promotion</label>
    <input type="text" id="box_style"  size=15 name="promo"> 
    <br>
    <label style='font-family:arial;text-align: right' for="current">Current Profile</label>
    <input type="text" id="box_style"  size=15 name="current"> 
    <br>
	<label style='font-family:arial' for="marriage">Marital Status</label> 
    <select id="box_style" name="marriage"> 
      <option value="0">Divorced</option> 
      <option value="1">Married</option>
      <option value="2">Single</option>
    </select>
    <br> 
    <label style='font-family:arial;text-align: right' for="income">Monthly Income</label>
    <input type="text" id="box_style"  size=15 name="income"> 
    <br>
    <br>
    <input id="button" style='font-family:calibri;font-size:25px' type="submit" value="Submit">
  </form> 
</div> 
</body> 
</html> 